body{
    background-image: url(new.jpg.jpg);
    margin:0%;
    width: 100%;
    height: 200%;
    text-align: center;
    justify-content: center;
    flex:1;
}
.banner-container{
    justify-content: center;
    display: flex;
    background-color:black;
    padding:50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.banner-container>h2{
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: 10px;;
    font-family: cursive;
    font-weight:200;
    color:#EEEEEE;
    font-size: 20px;
    
    margin-top: 50px;
   
    
}
.banner-container>h1{
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 50px;
    font-family: cursive;
    font-weight:200;
    color:aqua;
    font-size: 50px;
   
}
.banner-container>img{
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 10px;
}
    
.sec-container{
    display: inline-flex;
    padding: 60px;
    margin-top: 100px;;
    margin-left: 70px;
    margin-right: 70px;
    color:#EEEEEE
}
.sec-container>h3{
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-size: 35px;
    margin-left: 160px;
    margin-right: 40px;
}
.about-me{
    display: inline-block;
    background-color:black;
    height:180px;
    width:700px;
    margin-left: 180px;
    
}
.about-me>h2{
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
    color: #EEEEEE;
    font-weight: 100;
    margin:40px;
}
.projects{
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    margin-bottom: 50px;
    color: #EEEEEE;
    
}
.proj-head{
    text-align: center;
    justify-content: center;
    font-family: cursive;
    color: #EEEEEE;
    font-size: 35px;
    margin-top: 30px;
}
.proj1{
    font-family: cursive;
    margin-top: 50px;
    height:230px;
    width:350px;
    background-color: black;
}
.proj1>h2{
    color:aqua;
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-weight: 100;
    font-family: cursive;
    font-size: 20px;
    margin:20px;
}
.proj2{
    margin-top: 50px;
    height:230px;
    width:350px;
    margin-left: 72px;
    background-color:black;
}
.proj2>h2{
    color:aqua;
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-weight: 100;
    font-family: cursive;
    font-size: 20px;
    margin:20px;
}
.proj3{
    margin-top: 50px;
    height:230px;
    width:350px;
    margin-left: 72px;
    background-color: black;
}
.proj3>h2{
    color: aqua;
    text-align: center;
    justify-content: center;
    font-family: cursive;
    font-weight: 100;
    font-family: cursive;
    font-size: 20px;
    margin:20px;
}

.footer{
    display: flex;
    margin-top: 300px;
    width:100%;
    height:100px;
    margin-bottom: 20px;;
    background-color: black;
    font-family: cursive;
    font-weight: 100;
    color:#EEEEEE;
    font-size: larger;
}
.footer>h2{
   margin-left: 100px;
    color:#EEEEEE;
    font-family: cursive;
    font-weight: 200;
}
.footer>h3{
    margin-left: 900px;
    color: #EEEEEE;
    font-family: cursive;
    font-weight: 200;
}

@media(max-width:600px)
{
    body{
        width:400px;
        height:600px;
    }
    .banner-container{
        display: block;
        flex-direction: column;
        width:300px;
        margin-left: 20px;
        margin-right: 20px;



    }
    .sec-container{

        display: block;
        flex-direction: column;
       margin: 0%;
       width: 200px;
        
    }
    .about-me{
        width:300px;
        margin-left: 0%;
        margin-right: 20px;
        height:250px;
    }
    .sec-container>h3{
        margin-left: 30px;
        margin-right: 0%;
    }
    .projects{
        display: block;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .proj1{
        margin-left: 70px;
    }
    .footer{
        display: block;
        flex-direction: column;
        width: 300px;
        margin-left:70px;
        height:200px;
    }
    .footer>h3{
        margin-left: 0%;
        background-color: #EEEEEE;
    }
}


    



